.cabecera {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

}
.menu__lista {
    display:flex;

}
.menu__item {
    list-style: none; /* se utiliza este para quitar los puntos que vinen por defecto en nuestra barra de navegacion*/
}
.menu__link {
    color: #808080;
    margin-right: 1.25rem; /*se utiliza para darle espacio a nuestra barra de navegación*/
    text-decoration: none; /*para quitar el subrayado en nuestra barra de navegación*/
}
.menu__link:hover {
    text-decoration: underline;
}






.menu__link.activo {
    color: #cd3a3a;
}
/* es importante recordar que se utiliza la clase con dos guiones bajos más el otro nombre para seguir la regla o estructura de nomenclarura*/